:root {
  --ogblue: #2c9cdb;
}


.header a {
  text-decoration: none;
  color: var(--ogblue);
}

.header {
  display: block;
  text-align: center;
  position: relative;
  margin-top: 20px;
  font-size: 70px;
  font-weight: 400;
  transition: all 0.2s;
}

.header.fontdown {
  margin-top: 0;
  font-size: 50px;
}

@media screen and (max-width: 590px) {
  .header {
    margin: 0 auto;
    font-size: 50px;
  }

}