:root {
  --gray: #828282;
  --ogblue: #2c9cdb;

}

button {
  height: 50px;
  max-width: 300px;
  width: 80%;

  margin: 15px auto;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);

  color: var(--gray);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: var(--ogblue);

}