:root {
  --title: black;
  --content: #828282;
  --readmore: #2c9cdb;
}


.main-img {
  display: block;
  width: 190px;
  height: 250px;
  object-fit: cover;
  border: none;
  border-radius: 15px;
}

.small-img {
  max-width: 96px;
  max-height: 96px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
  object-fit: cover;
}


.detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 5px;
  max-width: 400px;
  width: 100%;
  height: 250px;

}

.text-wrapper {
  margin-bottom: 5px;
  line-height: 1.2;
  overflow: hidden;
  text-align: left;
}

.title-link {

  text-decoration: none;
}

#title {
  display: block;
  color: var(--title);
  font-weight: 700;
  font-size: 22px;

}

p {
  padding: 10px 0 5px;
  line-height: 1.45;
  text-align: justify;
  font-size: 12px;
  color: var(--content);
}

.readmore {
  color: var(--readmore);
  text-decoration: underline;
}

.tag,
.tag a {
  text-align: left;
  color: var(--content);
  font-size: 10px;

}

.tag a {
  text-decoration: underline;
}


.reveal {
  list-style: none;
  margin: 10px auto;
  max-width: 590px;
  width: 100%;
  display: flex;
  border-radius: 15px;
  padding: 20px 20px 30px;
  transition: all 0.3s;

}

.reveal:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.photos {
  padding-right: 20px;
  column-gap: 5px;
  text-align: left;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}




@media screen and (max-width: 590px) {
  .main-img {
    max-width: 125px;
  }

  .tag {
    display: none;
  }

  p {
    overflow: hidden;
    max-height: 3.6em;
  }

  .main-img,
  .detail {
    max-height: 200px;
  }

}


@media screen and (max-width: 380px) {
  #title {
    font-size: 15px;
  }

  .main-img {
    max-width: 100px;
  }

  .main-img,
  .detail {
    max-height: 150px;
  }
}

@media screen and (max-width: 300px) {
  .reveal {
    margin: 2px;
    padding-bottom: 2px;
  }


  .main-img {
    max-width: 70px;
  }

  .main-img,
  .detail {
    padding: 2px;
    margin: 2px;
    max-height: 70px;
  }
}